{% extends 'layout.html' %}

 
{% block body %}

<body>
    
    <main>
      <h1 class="visually-hidden">Heroes examples</h1>
      <div class="px-4 py-2 my-2 text-center">
        <img class="d-block mx-auto mb-4" src="https://upload.wikimedia.org/wikipedia/commons/9/93/EEUMLOGO.png" alt="" width="200" height="200">
        <h1 class="display-5 fw-bold">Bem vindo ao dicionário de conceitos médicos </h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">Realizado no âmbito da Unidade Curricular de PLNEB por Mariana Almeida.</p>
        </div>
      </div>
    
    </main>
    
    
        <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
          
      
    
    </body>
{% endblock %}